@charset "utf-8";
body{
    font-family:calibri;
    font-size:18px ;
    color: #333333;
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0px;
    margin: 0px;
}
.container{
width:1000px;
margin: 0 auto;
}
header{
    background: #403fa4;
    width: 100%;
    float: left;
    padding: 20px 0px;
    margin-top: 0px;
    border-bottom: #acabfe solid 1px;
    position: fixed;
}
.logo{
    width:300px;
    float: left;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}
.menu{
    width: 700px;
    float: left;
}
.menu ul{
    list-style-type: none;
    text-align: right;
    margin-top: 15px;
}
.menu ul li{
    display: inline;
    padding: 10px 20px;
}
.menu ul li a{
    color:#ffffff;
    font-size: 16px;
    text-decoration: none;
    
}
section{
    padding:100px 0px;
    width: 100%;
    float: left;
}
#about-page{
    background:#5352d4;
    color: #ffffff;
    clear: both;
    margin-top: 90px;

}
#about-page h1{
    color:#ffffff;
    text-align: left;
    margin-bottom: 20px;
}
#about-page .fa{
    font-size: 24px;
    color: #ffffff;
    margin: 10px 5px;
}
h1{
    font-size: 40px;
    color: #f74470;
    text-align: center;
    margin-bottom: 50px;
}
h1 .fa{
    font-size: 50px;
    color: #5353d4;

}
h2{
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
}
i{
    color:#999999;
    font-size: 12px;
    padding: 5px 0px 7px 0px;
    display: block;
}
#Education{
    background-color: #99e9e5;
}
#Portfolio{
    background-color: #c9f3e9;
}
.card{
    display: flex;
    justify-content: space-between;
}
.pro1 {
    background-color:#ffffff;
    width: 40%;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 2px grey;
    padding: 5px;
}
.pro2{
    background-color:white;
    width: 40%;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 2px grey;
    padding: 5px;
}


